/* style.css */
body {
    font-family: "Kameron", "Noto Sans JP", Arial, Helvetica, sans-serif;
}
#container {
    position: relative;
    color: black;
    width: 80%;
    min-width: 680px;
    margin: 0 auto;
    header {
        border-bottom: 1px solid gray;
    }
    main {
        margin-top: 2rem;
        margin-bottom: 2rem;
        form .convert-btn {
            height: 3rem;
            border-radius: 50%;
            background-color: white;
            transition: background-color ease 0.3s;
        }
        form .convert-btn:hover {
            background-color: lightgray;
            cursor: pointer;
        }
        a { 
            font-weight:bold; 
            transition: all ease .3s;
            &:link { color: #006666; }
            &:hover { text-shadow: 1px 1px 0px #fff, 2px 2px 2px #966; }
            &:visited { color: #666600; }
            &:active { color: #660066; }
        }
    }
    footer {
        border-top: 1px solid gray;
    }
}
#sampleUserInput {
    width: 40rem;
    height: 3rem;
    --inline-height: 3rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    border: 2px solid black;
    border-radius: calc(0.5 * var(--inline-height));
}
