/* style.css */
body {
    font-family: "Kameron", "Noto Sans JP", Arial, Helvetica, sans-serif;
}
#container {
    position: relative;
    color: black;
    width: 80%;
    min-width: 680px;
    margin: 0 auto;
    header {
        border-bottom: 1px solid gray;
    }
    main {
        margin-top: 2rem;
        margin-bottom: 2rem;
        form .convert-btn {
            height: 3rem;
            border-radius: 50%;
            background-color: white;
            transition: background-color ease 0.3s;
        }
        form .convert-btn:hover {
            background-color: lightgray;
            cursor: pointer;
        }
        a { 
            font-weight:bold; 
            transition: all ease .3s;
            &:link { color: #006666; }
            &:visited { color: #666600; }
            &:active { color: #660066; }
        }
        .tooltip {
            position: relative;
            cursor: pointer;
            &:hover .tooltip-text {
                opacity: 1;
                visibility: visible;
            }
        }
        .tooltip-text {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -35px;
            display: inline-block;
            padding: 5px;
            white-space: nowrap;
            font-size: 10.5px;
            line-height: 1.3;
            background: #333;
            color: #fff;
            border-radius: 3px;
            transition: 0.3s ease-in;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            &:before {
                content: '';
                position: absolute;
                top: -13px;
                left: 50%;
                margin-left: -7px;
                border: 7px solid transparent;
                border-bottom: 7px solid #333;
            }
        }
    }
    footer {
        border-top: 1px solid gray;
    }
}
#sampleUserInput {
    width: 40rem;
    height: 3rem;
    --inline-height: 3rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    border: 2px solid black;
    border-radius: calc(0.5 * var(--inline-height));
}
